<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="6.1.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net461" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net461" />
  <package id="Nito.AsyncEx.Context" version="5.0.0" targetFramework="net461" />
  <package id="Nito.AsyncEx.Tasks" version="5.0.0" targetFramework="net461" />
  <package id="Nito.Disposables" version="2.0.0" targetFramework="net461" />
  <package id="Realm" version="4.3.0" targetFramework="net461" />
  <package id="Realm.Fody" version="4.3.0" targetFramework="net461" developmentDependency="true" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="net461" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net461" />
  <package id="System.Management" version="4.5.0" targetFramework="net461" />
  <package id="System.Reflection.TypeExtensions" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
</packages>